<div style="margin-top: 6rem;">
  <hr class="logohr">
  <h1 >Alfred</h1>
  <h3>원하는 키워드를 등록하고 정보를 받아보세요!</h3>
  <hr class="logohr">
</div>

<div style="margin-top: 4rem; margin-bottom: 4rem; width: 25rem; clear: both;" class="container-lg">
    <form>
      <input type="text" name="email" class="email" placeholder="Email">
      <input type="text" name="password" class="password" placeholder="Password">
      <a routerLink="/app" routerLinkActive="active"><button style="margin-top: 2rem;" type="submit" class="btn btn-primary">Login</button></a>
      <a routerLink="/app/join" routerLinkActive="active"><p>Join</p></a>
    </form>
</div>

<p class="info">Lee Yeeun · Kim Inho · Han Jeonguk · Lee Jihyeon</p>
<p class="info">Email: leeye9779@gmail.com</p>
