<ng-container *ngIf="keywords.length; else noKeyword">
    <h2>구독 중인 키워드</h2>
    <app-keyword-list [keywords]="keywords" [smartKeywords]="smartKeywords" (keywordClick)="onKeywordSelect($event)">
    </app-keyword-list>

    <h2 *ngIf="selectedKeyword">키워드 '{{selectedKeyword?.keyword}}'와 관련된 기사</h2>
    <h2 *ngIf="!selectedKeyword">모든 키워드에 대한 기사</h2>
    <app-news-list [news]="selectedNews"></app-news-list>
</ng-container>

<ng-template #noKeyword>
    <div class="text-center font-weight-bold">구독 중인 키워드가 없습니다. <a routerLink="../keywords">키워드 메뉴</a>에서 구독할 키워드를 추가해보세요!
    </div>
</ng-template>
