:host {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.keyword {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem 0.75rem 0;
  font-weight: 700;
  cursor: pointer;
  background-color: #81b29a;
  opacity: 85%;
}

.keyword.smart {
  background-color: #e9c46a;
}

.keyword:hover {
  opacity: 100%;
}
