<h2>Add a keyword</h2>
<form (ngSubmit)="addKeyword()">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" [(ngModel)]="newKeyword" name="new-keyword" class="form-control" placeholder="Riptide">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>

<ng-container *ngIf="myKeywords">
  <h2>My keywords</h2>
  <app-keyword-list [keywords]="myKeywords" bgClass="bg-info"></app-keyword-list>
</ng-container>

<h2>Notification frequency setting</h2>
<select id="Notification" name="Notification">
  <option value="30min">30m</option>
  <option value="1h">1h</option>
  <option value="2h">2h</option>
  <option value="3h">3h</option>
  <option value="12h">12h</option>
  <option value="24h">24h</option>
</select>

<div>
  <a routerLink="/app/member" routerLinkActive="active"><button type="button" class="centered btn btn-outline-secondary">Member information Editing</button></a>
</div>
