<h2>키워드 구독</h2>
<form #form="ngForm" (ngSubmit)="addKeyword(newKeyword)">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" [(ngModel)]="newKeyword" name="new-keyword" class="form-control" required>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid">구독</button>
    </div>
  </div>
</form>

<ng-container *ngIf="keywords?.length">
  <h2>구독 중인 키워드</h2>
  <app-keyword-list [keywords]="keywords" [smartKeywords]="smartKeywords" (keywordClick)="showDeleteModal($event)">
  </app-keyword-list>
</ng-container>

<ng-container *ngIf="filteredSmartKeywords?.length">
  <h2>추천 스마트 키워드</h2>
  <app-keyword-list [keywords]="filteredSmartKeywords" [smartKeywords]="smartKeywords"
    (keywordClick)="showAddSmartKeywordModal($event)">
  </app-keyword-list>
</ng-container>

<button type="button" class="btn btn-outline-primary alert-times" (click)="collapse.toggle()"
  [attr.aria-expanded]="!alertTimesCollapsed">
  구독 알림 시간
</button>
<div #collapse="ngbCollapse" [(ngbCollapse)]="alertTimesCollapsed">
  <div class="card">
    <div class="card-body">
      <app-alert-times-form [alertTimes]="alertTimes"></app-alert-times-form>
    </div>
  </div>
</div>
