<h2>키워드 구독</h2>
<form (ngSubmit)="addKeyword()">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" [(ngModel)]="newKeyword" name="new-keyword" class="form-control">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">구독</button>
    </div>
  </div>
</form>

<ng-container *ngIf="keywords">
  <h2>구독 중인 키워드</h2>
  <app-keyword-list [keywords]="keywords" (keywordClick)="showDeleteModal($event)" bgClass="bg-info">
  </app-keyword-list>
</ng-container>

<h2>구독 알림 주기</h2>
<select id="Notification" name="Notification">
  <option value="30min">30m</option>
  <option value="1h">1h</option>
  <option value="2h">2h</option>
  <option value="3h">3h</option>
  <option value="12h">12h</option>
  <option value="24h">24h</option>
</select>

<div>
  <a routerLink="/app/member" routerLinkActive="active"><button type="button"
      class="centered btn btn-outline-secondary">Member information Editing</button></a>
</div>
