:host {
  display: block;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 5rem;
  font-size: 1.75rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.navbar .container-lg {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  padding-right: 3rem;
}

.nav-item {
  padding-right: 2rem;
}

.navbar .logout {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.navbar .logout:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar + .container-lg {
  padding-top: 5rem;
}

p {
  margin: 0;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: gray;
}
