<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-lg">
    <a class="navbar-brand">Alfred</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex flex-row" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="./news" routerLinkActive="active">기사</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./keywords" routerLinkActive="active">키워드</a>
        </li>
      </ul>
      <div class="ml-auto d-flex flex-row align-items-center">
        <span class="welcome">반갑습니다, {{ user?.first_name }}님</span>
        <fa-icon icon="sign-out-alt" (click)="onLogout()" class="logout"></fa-icon>
      </div>
    </div>
  </div>
</nav>

<div class="container-lg">
  <router-outlet></router-outlet>
</div>

<div class="d-flex flex-column align-items-center text-black-50 pt-5 pb-2 info">
  <span>Lee Yeeun · Kim Inho · Han Jeonguk · Lee Jihyeon</span>
  <span>Email: leeye9779@gmail.com</span>
</div>
